name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: salimov333
          template: classic
          base: header, community, repositories, metadata
          config_timezone: UTC
          
          # This is the "Safe" version to ensure it passes quickly
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          
          # Achievements is currently buggy on GitHub's side, 
          # so we'll leave it off for the first successful run.
          plugin_achievements: no
          plugin_habits: no 

          # Styling
          config_theme: radical
