name: Metrics
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:
  push: { branches: ["master", "main"] }

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: salimov333
          template: classic
          base: header, community, repositories, metadata
          config_timezone: UTC
          config_theme: radical

          # 1. Languages (In-depth analysis for Java/Kotlin)
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          plugin_languages_ignored: html, css, tex, xml, json

          # 2. Standard 5-Year History Calendar (Non-3D)
          plugin_calendar: yes
          plugin_calendar_limit: 3
